{% extends 'base_template.html' %}

{% block title %}
    <title>Tareas asignadas</title>
{% endblock %}

{% block content %}
    {% include 'components/Navbar.html' %}
    <div class="uk-container uk-margin-top">

        <div class="uk-inline uk-margin-bottom uk-card-default uk-padding-small uk-width-1-1">
            <div class="uk-card">Filtrado</div>
            <div uk-dropdown="animation: slide-top; animate-out: true; duration: 700" class="uk-width-1-1">
                <ul class="uk-nav uk-dropdown-nav">
                    <form class="uk-text-center" method="post">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Estado de la tarea</label>
                            <select class="uk-select" name="state">
                                <option value="None" selected></option>
                                <option value="pending">Pendiente</option>
                                <option value="overdue">Atrasado</option>
                                <option value="inProgress">En proceso</option>
                                <option value="awaiting">Esperando revision</option>
                                <option value="approved">Aprobada</option>
                                <option value="rejected">Rechazada</option>
                            </select>
                        </div>   
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Fecha de la tarea</label>
                            <input class="uk-input" type="date" id="start" name="deadline">
                        </div>
                        <button 
                        type="submit" 
                        formmethod="get" 
                        formaction="/task-assigned"  
                        class="uk-button uk-button-primary">
                            Filtrar
                    </button>
                    </form>
                </ul>
            </div>
        </div>
        
        <div style="gap: 1em" class="uk-grid-small uk-child-width-expand@s" uk-grid>
            {% for task in task_assigned %}
                <div class="uk-card uk-card-default uk-card-body">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{task.title}}</h3>
                                <p class="uk-text-meta uk-margin-remove-top"><time>Deadline {{task.deadline}}</time></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>{{task.description}}</p>
                    </div>
                    <div class="uk-card-footer">
                        <a uk-toggle="target: #my-{{task.id}}" class="uk-button uk-button-text">Read more</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% for task in task_assigned %}
        <div id="my-{{task.id}}" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">{{task.title}} - <time>Deadline {{task.deadline}}</time></h2>
                <span class="uk-badge uk-text-bold" style="background: red;">{{task.state}}</span>
                <hr/>
                <p>{{task.description}}</p>
                <hr/>
                <p>Supervisor <span class="uk-text-bold">{{task.supervisor}}</span></p>
                <div class="uk-flex uk-flex-around uk-flex-middle">
                    <a href="task-edit/{{task.id}}">
                        <button class="uk-button uk-button-primary">Editar tarea</button>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}